<!--会員側／マイページ-->
<h3>マイページ</h3>
<div class="row">
<%= attachment_image_tag @customer, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "noimage.jpg" %>
</div>
<table class="table table-borderless">
  <tbody>
    <tr>
      <td>ユーザー名</td>
      <td><%= @customer.name %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
  </tbody>
</table>

<%= link_to "編集する", edit_customer_registration_path(@customer), class: "btn btn-success" %>

