<!--会員側/退会確認-->
<div class="unsubscribe">
  <div class="about-text">
    <h1 class="mb-0">退会確認</h1>
    <h4 class="mb-0">本当に退会しますか？</h4>
    <%= link_to "退会しない", customer_path(@customer), class: "btn btn-success" %>
    <%= link_to "退会する", customers_withdraw_path(@customer), method: :patch, class: "btn btn-danger" %>
  </div>
</div>