// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*============
topページ
=============*/
.swiper-slide img {
  height: 800px;
  width: 95%;
  background-size: cover;
}
html, body {
      position: relative;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 700px;

    }
    .swiper-slide {
      position: relative;
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
/*============
トップページ
エンターボタン
=============*/
.link{
  font-family: 'Roboto Slab', serif;
  position: absolute;/*親要素(swiper-slide)にposition:relative*/
  font-size: 80px;
  padding: 0.1em 0.3em;
	background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, #3FBFBF 50%);
	background-position: 0 0;
	background-size: 200% auto;
	transition: .3s;
	color: #ffffff;
}
.link:hover {
	background-position: -100% 0;
	color: #fff;
}

/*============
aboutページ
=============*/
.about{
  height: 700px;
  width: 100%;
  background-image: image-url('image01.jfif');
  background-size: cover;
  background-position: center;
}
.about-text {
  background : none;
  text-align: center;
  padding-top : 50px;
  font-size: 44px;
  font-family: 'Roboto Slab', serif;
}
.about-text h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 60px;
}