// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*============
topページ
=============*/
.swiper-slide img {
  height:600px;
  width: 95%;
  background-size: cover;
}
html, body {
      position: relative;
      height: 700px;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 700px;

    }
    .swiper-slide {
      position: relative;
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.link{
  color: #000011;
  position: absolute;/*親要素(swiper-slide)にposition:relative*/
  color: blue;
  font-size:50px;
}
.link:hover {
  color :#888888;
  text-decoration: none;
}
/*============
aboutページ
=============*/
.about{
  height: 700px;
  width: 100%;
  background-image: image-url('image08.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.about-text {
 color: blue;
 position: absolute;
 padding: 10px 10px;
 font-size:30px;
}