// Place all the styles related to the public/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 400px;
  width: 60%;
  margin-top : 10px;
  margin-right: auto;
  margin-left: auto;
}
img {
  box-sizing: border-box;
  margin: 5px 5px;
}
p {
  margin-top: 5px;
  font-size: 20px;
}
h5 {
  text-align: center;
}
div h5{
  font-size : 25px;
}