<!--写真投稿ページ-->
<div class="container my-5">
<h2>new photo</h2>
</div>

<%= form_with model: [:public, @photo], local:true do |f| %>
<div class="col-sm-5">
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<% end %>