<!--aboutページ-->
<div class="about">
  <div class="about-text">
    <h1 class="mb-0">About Sky Photo</h1>
    <h4 class="mb-0">
      ここでは、貴方が見た空の景色を自由に投できるサイトです。<br />
      どうぞゆっくりとご覧になってください。
    </h4>
  </div>
</div>