/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width: 1024px) {
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width: 768px) {
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {
  .rogo {
    text-align: center;
  }
}


/*============
ヘッダー
============*/
header {
  box-shadow: 0px 10px 5px -10px;
}
.rogo {
  margin: 10px 0px 0px 80px;
}
/*============
.menu
=============*/
.menu {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all 0.5s;
  z-index: 3;
  opacity: 0;
  background-image: image-url('2618430.jpg');
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
}
.open .menu {
  left: 0;
  opacity: 1;
}
.menu .inner {
  padding: 25px;
  font-family: 'Roboto Slab', serif;
}
.menu .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}
.menu .inner ul li a {
  display: block;
  color: #333;
  font-size: 16px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}
.menu .inner ul li a:hover {
  background: #B9D9D9;
}
@media screen and (max-width: 767px) {
  .menu {
    left: -220px;
    width: 220px;
  }
}
/*============
.toggle_btn
=============*/
.toggle_btn {
  display: block;
  position: fixed;
  top: 30px;
  left: 30px;
  width: 30px;
  height: 30px;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 3;
}
.open .toggle_btn {
  left: 330px;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all 0.5s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle_btn span {
  background-color: #fff;
}
.open .toggle_btn {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.open .toggle_btn span:nth-child(1),
.open .toggle_btn span:nth-child(3) {
  width: 16px;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translate(-1px, 4px) rotate(-45deg);
  transform: translate(-1px, 4px) rotate(-45deg);
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translate(-1px, -4px) rotate(45deg);
  transform: translate(-1px, -4px) rotate(45deg);
}
@media screen and (max-width: 767px) {
  .open .toggle_btn {
    left: 250px;
  }
}
/*============
#mask
=============*/
#mask {
  display: none;
  transition: all 1s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  opacity: 0.8;
  z-index: 2;
  cursor: pointer;
}
/*============
main
=============*/
main {
  // width: 100%;
  padding:  0;
  transition: all 0.5s;
}
.open main {
  margin-left: 300px;
}
main h1 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
/*============
body
=============*/
body {
  font-family: "Open Sans", sans-serif;
  overflow: scroll;
  background-image: image-url('2618430.jpg');
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: lighten;
}
/*=====================
新規登録、ログイン画面↓
======================*/
.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}
.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.colorgraph {
  height: 8px;
  border-top: 0;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.form-signin {
  max-width: 700px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #F8F8FF	;
  border: 3px dashed #D8BfD8;
  }
/*===============================
　新規登録、ログイン画面ここまで
================================*/